<%= link_to "新規", new_article_path,method: :get%>

<% articles.each do |article| %>
  <div class="row article__index">
    <div class="col-4">
      <% if article.images? %>
        <%= link_to article_path(article.id), method: :get do %>
          <%= image_tag article.images[0].url  %>
        <% end %>
      <% end %>
    </div>
    <div class="col article__abc">
      <div class="text-secondary"><%= article.place.area %></div>
      <h5><%= article.title %></h5>
      <%= article.body %>
      <br>
      <div class="article__like"><%= article.likes.count %> いいね</div>
      <div class="article__text"><%= article.created_at.strftime('%Y/%m/%d') %></div>
      <!--<%= link_to "詳細", article_path(article.id),method: :get %>-->
      <!--<%= link_to "編集", edit_article_path(article.id),method: :get %>-->
      <!--<%= link_to "削除", article_path(article.id),method: :delete %>-->
    </div>
  </div>
  <hr>
<% end %>
