<div class ="container">
<div class="row article__avatar d-flex align-items-center">
  <%= link_to user_path(@article.user.id), method: :get do %>
    <%= image_tag @article.user.avatar.url %>
  <% end %>
  <h1><%= @article.title %></h1>
</div>
<div id="article_<%= @article.id %>">
  <%= render 'likes/like', article: @article %>
</div>

<hr>

<div class="row">
  <div class="swiper-container slider">
     <div class="swiper-wrapper">
      <% @article.images.each do |image| %>
         <div class="swiper-slide"><%= image_tag image.to_s %></div>
      <% end %>
     </div>
     <div class="swiper-button-prev"></div>
     <div class="swiper-button-next"></div>
  </div>
  <div class="swiper-container thumbnail">
      <div class="swiper-wrapper">
       <% @article.images.each do |image| %>
         <div class="swiper-slide"><%= image_tag image.to_s %></div>
      <% end %>
      </div>
  </div>
</div>

<hr>

<h4>内容</h4>
<p><%= @article.body %></p>

<hr>

<h4>動画</h4>
<div class ="text-center">
  <%= video_tag(@article.video.to_s, :controls => true, height: "400px",width: "800px")  %>
</div>

<hr>

<h4>住所</h4>

<div class="show">
  <div class="show__address">
    <%= @article.spot.address %>
  </div>
  <div class="show__maps" id= 'show_map', style= "height: 320px;"></div>
</div>

<hr>

<div id="comments_area">
  <%= render 'comments/index', article: @article %>
</div>
<br>
<div class="new-comment">
  <%= render 'comments/form', article: @article, comment: @comment %>
</div>
<% if @article.user == current_user %>
  <div class="text-center">
    <hr>
    <%= link_to "編集", edit_article_path(@article.id),method: :get, class: "btn btn-secondary w-25 mb-2" %>
    <%= link_to "削除", article_path(@article.id),method: :delete,"data-confirm" => "本当に削除してもよろしいですか？", class: "btn btn-secondary w-25 mb-2" %>
  </div>
<% end %>

<!--<% if @tags.present? %>-->
<!--  <div class="article__tags__box", data-role="tagsinput" >-->
<!--    <% @tags.each do |tag| %>-->
<!--      <span class="badge badge badge-info">-->
<!--        <%= "#{tag.name}(#{tag.taggings_count})" %>-->
<!--      </span>-->
<!--    <% end %>-->
<!--  </div>-->
<!--<% else %>-->
<!--      <p>登録されているタグはありません</p>-->
<!--<% end %>-->
</div>