<div class="user">
  <div class="row user__top">
    <div class="col text-center">
      <% if @user.avatar? %>
          <%= image_tag @user.avatar.url %>
      <% end %>
      <br>
      <%= link_to "編集", edit_user_path(@user.id),method: :get%>
    </div>
    <div class="col">
      <h5>ユーザーネーム</h5>
      <%= @user.name %>
      <h5>自己紹介</h5>
      <%= @user.profile %>
    </div>
  </div>
  <hr>
  <h5>投稿記事</h5>
  <%= render "articles/index", articles: @user.articles %>
 
</div>