<div class ="container">
<div class="user">
  <div class="row user__left">
    <div class="col text-center">
      <% if @user.avatar? %>
          <%= image_tag @user.avatar.url %>
      <% end %>
      <br>
      <% if @user == current_user %>
        <%= link_to "編集", edit_user_path(@user.id),method: :get, class: "btn btn-secondary mt-3"%>
      <% end %>
    </div>
    <div class="col">
      <h5>Name</h5>
      <h4><%= @user.name %></h4>
      <br>
      <h5>Profile</h5>
      <%= @user.profile %>
    </div>
  </div>
  <hr>
  <div class="article">
    <h4>投稿記事</h4>
    <%= render "articles/index", articles: @user.articles %>
  </div>
</div>
</div>